body {
	max-width: 80vw;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.gallery img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.gallery img::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.gallery img::after {
  content: attr(title);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.gallery img:hover::after {
  opacity: 1;
}

figure {
    border: 1px #adaba5 solid;
    border-radius: 5px;
    padding: 30px;
    background-color: #d3d1ca;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal figure {
  position: relative;
  margin: 0;
  padding: 0;
  width: 90%;
  max-width: 800px;
  height: 90%;
  max-height: 600px;
  overflow: hidden;
}

.modal img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.modal figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.modal button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}